main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.gify-display {
  display: flex;
  flex-direction: column;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
}

.row, .submit-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.row > img {
  border-radius: 10px;
}

input {
  height: 2em;
  border-radius: 4px;
}

button {
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1em 2em;
}

button:active {
  background-color: lightgreen;
}

button:hover {
  cursor: pointer;
}